<!DOCTYPE html>
<html lang='en'>

<head>
<title>Vicsch</title>
</head>

<body>
<h1>VicSch</h1>

<div id=main>

    <input type=text v-model="stop_id" placeholder="Enter stop number">
    <button v-on:click="submit">Look up bus times</button>

    <div>
        <div v-if="got_list">
            <ul id="times-list">
                <li v-for="time in times">
                    <p>Depart at: {{time.departure_time}}</p>
                    <p>Route: {{time.route_id}}</p>
                </li>
            </ul>
        </div>
        
        <div v-else>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="module" src="scripts/main.js"></script>


</body>
</html>