<!DOCTYPE html>
<html lang='en'>

<head>
<title>Vicsch</title>
<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="normalize.css" />
<link rel="stylesheet" href="styles.css">
</head>

<body>
<h1>VicSch</h1>

<div id=main>
    <input type=text v-model="stop_id"
    placeholder="Enter a stop number" 
    onblur="this.placeholder = 'Enter a stop number'"
    onfocus="this.placeholder = ''">
    <button v-on:click="submit">Look up bus times</button>

    <div v-if="got_list">

        <div class=row>
            <div class=col>
                    <p class=list-label >Departure Time</p>
            </div>
            <div class=col>
                    <p class=list-label >Route</p>
            </div>
        </div>

        <div class=row v-for="time in times">
            <div class=col>
                <p>{{time.departure_time}}</p>
            </div>
            <div class=col>
                <p>{{time.route_id}}</p>
            </div>
        </div>

    </div>
        
        <div v-else>
        </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="module" src="scripts/main.js"></script>


</body>
</html>