<!DOCTYPE html>
<html lang='en'>

<head>
<title>TransitTable</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="normalize.css" />
<link rel="stylesheet" href="styles.css">
</head>

<body>
<h1>TransitTable</h1>
<h2>Get bus schedules for Victoria BC</h2>

<div v-cloak id=main>
    <input type=text v-model="stop_id"
    placeholder="Enter a stop number" 
    onblur="this.placeholder = 'Enter a stop number'"
    onfocus="this.placeholder = ''"
    v-on:keyup.enter="submit">

    <button v-on:click="submit">Look up bus times</button>

    <div v-if="state == 'displaying'">

        <div class=row>
            <div class=col>
                <p class="left list-label">Departure Time</p>
            </div>
            <div class=col id=mid>
            </div> 
            <div class=col>
                <p class="right list-label">Route</p>
            </div>
        </div>

        
        <div class=row v-for="time in times">
            <div class=col>
                <p class=left >{{time.departure_time}}</p>
            </div>

            <div class=col id=mid>
                <hr/>
            </div>    

            <div class=col>
                <p class=right >{{time.route_id}}</p>
            </div>
        </div>
        <p id=notice>Data courtesy of BC Transit.</p>
    </div>

    <div v-else-if="state == 'load-error'">
        <p>
            <strong>{{bad_id}}</strong> is not a valid stop number. Please enter a different stop number.
        </p>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script type="module" src="scripts/main.js"></script>

</body>
</html>